body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #7c7c7c;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  margin-bottom: -10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}

#temperature {
  color: #7c7c7c;
  font-size: 64px;
  font-weight: 400;
}
#fahrenheit {
  text-decoration: none;
}
#celsius {
  text-decoration: none;
}

#github-link {
  font-size: 12px;
  padding: 20px 0 0 0;
  text-align: center;
}
.weather-app-wrapper {
  border: 1px solid #7c7c7c;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(215, 223, 252) 0%,
    rgb(255, 255, 255) 0%,
    rgb(215, 223, 252) 84%
  );
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 800px;
}

.overview {
  margin-left: 10px;
  margin-bottom: 10px;
}
.units {
  position: relative;
  font-size: 16px;
  top: 20px;
}

.date {
  font-size: 15px;
  margin-top: 20px;
}

.top-buttons {
  text-align: center;
  width: auto;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.weather-forecast {
  color: #7c7c7c;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temp-max {
  color: rgb(80, 71, 71);
}

.weather-forecast-temperature {
  font-size: 13px;
}
