body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #7c7c7c;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  margin-bottom: -10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  border: 1px solid #7c7c7c;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 800px;
}

.overview {
  margin-left: 10px;
  margin-bottom: 10px;
}
.units {
  position: relative;
  font-size: 16px;
  top: 20px;
}

#temperature {
  color: #7c7c7c;
  font-size: 64px;
  font-weight: 400;
}

.date {
  font-size: 15px;
  margin-top: 20px;
}
.text {
  max-width: 400px;
}

.card {
  line-height: 60px;
  position: relative;

  margin: 0 auto;
  text-align: center;
}

.col-2 {
  text-align: center;
  width: auto;
}
#fahrenheit {
  text-decoration: none;
}
#celsius {
  text-decoration: none;
}

#github-link {
  font-size: 12px;
  padding: 20px 0 0 0;
  text-align: center;
}
